.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid purple;
    background-color: lightcoral;


    
    /* agar translate aur rotate ek saath karaye toh */
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function:ease;
    transition-delay: 1s;

}

.box:hover{
   background: lightblue;
  transform: scale(2) translateX(500px) rotate(360deg);
  /* scale se bada ho jaega box */
  /* translate se move karega */
  /* rotate se rotate karega */
}